﻿@{
    ViewBag.Title = "EAST 2 WEST TRAVEL SERVICE";
}

<div class="jumbotron">
    <h1>EAST 2 WEST TRAVEL SERVICE.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<p>@Html.ActionLink("There is Our Tours List for You to Choose!", "Index", "Tour");</p>