﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StatusFailed</title>
</head>
<body>
    <h2>Order Tour Failed</h2>
</body>
</html>
