﻿@model TravelServiceAssignment_Consumer.TravelService.Tour

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Tour</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="font-family: Constantia;">
    <div style="margin: 0 auto">
        <h2>Order Tour: @Html.DisplayFor(model => model.Name) - Place: @Html.DisplayFor(model => model.Place)</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BasePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BasePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <input style="display: none" id="base-price" value="@Html.DisplayFor(model => model.BasePrice)"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Please Fill your Information here!</h2></div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" action="/OrderTour/Create">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Customer Name:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" name="CustomerName" placeholder="Enter Your Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="customerPhoneNumber">Phone Number:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" name="CustomerPhoneNumber" placeholder="Enter Your Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CustomerEmail">Customer Email:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" name="CustomerEmail" placeholder="Enter Your Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="PeopleAmount">People Amount:</label>
                        <div class="col-sm-10">
                            <input required type="number" onblur="getTotalCost()" class="form-control" id="people-amount" name="PeopleAmount" placeholder="Enter Your Total People">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="DayDuration">Days Duration:</label>
                        <div class="col-sm-10">
                            <input required type="number" onblur="getTotalCost()" class="form-control" id="day-duration" name="DayDuration" placeholder="Enter Your Days Duration">
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label col-sm-2" for="">Tour Id:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="TourId" value="@Html.DisplayFor(model => model.TourId)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p>Total Cost: <span style="font-weight: bolder; color: darkred" id="total-cost"></span> VNĐ</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2" style="display: none">
                            <input type="number" class="form-control" id="total-cost-inp" name="TotalCost" value="">
                        </div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default">Order this Tour</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Tour List", "Index")
    </p>
    <script>
        function getTotalCost() {
            var peopleAmount = parseInt(document.getElementById('people-amount').value);
            var dayDuration = parseInt(document.getElementById('day-duration').value);
            var basePrice = parseInt(document.getElementById('base-price').value);

            var totalCost = peopleAmount * dayDuration * basePrice * 1000;

            if (Number.isNaN(totalCost)) {
                document.getElementById('total-cost').innerHTML = numberWithCommas(totalCost);
                document.getElementById('total-cost-inp').value = totalCost;
            }
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
</body>
</html>
