﻿@{
    Layout = null;
}
@using TravelServiceAssignment_Consumer.TravelService;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>East To West Tour List</title>
</head>
<body style="font-family: Constantia; padding-top: 10%">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><h1 style="text-align: center">Our Tours List</h1></div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <tr style="font-weight: bolder">
                        <th>Tour Id</th>
                        <th>Name</th>
                        <th>Place </th>
                        <th>Base Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    @foreach (Tour t in ViewBag.listTours)
                    {
                        <tr>
                            <td>@t.TourId</td>
                            <td>@t.Name</td>
                            <td>@t.Place</td>
                            <td>@t.BasePrice</td>
                            <td>@t.Description</td>
                            <td>@Html.ActionLink("Order This Tour!", "Details", "Tour", new { id = t.TourId }, null)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
